<!-- Engine Editor Template -->

<div class="mcq-body main-container" id="mcq-editor">
  <main class="main global">
    <section id="question" class="section question">
      <!-- Loop over all instructions text -->
      <div class="global-padding">
        <div class="row">
          <div class="col-sm-12">
            <header>
              <h4 class="headerlabel font-semibold color-gray">Question Text</h4>
            </header>
          </div>
          <!-- Loop over all question data text -->
          <div class="col-sm-12 mt-sm">
            <div class="text-box" rv-each-qdata="content.canvas.data.questiondata">
              <span class="icon-pencil-class icon-pencil-instruction-class"><i class="fa fa-pencil"></i></span>
              <input role="button" class="option-value global-input outline-none noborder border-bottom-blue" rv-show="qdata.customAttribs.isEdited"
                rv-value="qdata.text" rv-on-blur="removeEditing | args qdata"></input>
              <div class="option-value border-bottom-dashed" role="button" rv-hide="qdata.customAttribs.isEdited" rv-on-click="editOptionText | args qdata">
                <span rv-text="qdata.text"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="instruction" class="section instruction border-bottom-shadow">
      <div class="global-padding">
        <div class="row">
          <div class="col-sm-12" id="instructionLabel" rv-hide="isInstructionEmpty">
            <header>
              <h4 class="headerlabel font-semibold color-gray">Instruction Text</h4>
            </header>
          </div>
          <div class="col-sm-12">
            <ul class="list-unstyled nested-list editor">
              <li class="text-box colborder mt-sm" rv-each-instruction="content.instructions" rv-instructionIndex="%instruction%">
                <div class="line-formatter">
                  <span class="icon-pencil-class  icon-pencil-instruction-class"><i class="fa fa-pencil"></i></span>
                  <input role="button" class="option-value global-input outline-none noborder border-bottom-blue" rv-show="instruction.customAttribs.isEdited"
                    rv-value="instruction.text" placeholder="Add Instructions" rv-on-blur="removeEditing | args instruction"></input>
                  <div class="option-value border-bottom-dashed" role="button" rv-hide="instruction.customAttribs.isEdited" rv-on-click="editOptionText | args instruction">
                    <span rv-text="instruction.text"></span>
                  </div>
                  <span class="icon-pos-class icon-pos-instruction-class">
                          <a class="btn color-lightgray editor-icon delete-icon mcq-edit fa fa-times pull-right" data-toggle="tooltip" title="Click to remove this option" rv-on-click="removeInstruction | args instruction %instruction%"></a>            
                      </span>
                </div>
              </li>
          </div>
          </ul>
        </div>
        <div class="row mt-sm mb-sm">
          <div class="col-sm-12 dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">+ Add
                </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="left: 15px;">
              <li class="border-bottom-dashed" role="presentation"><a class='dropdown-toggle disabled' role="menuitem" href="#" rv-on-click="addInstruction">Instruction Text</a></li>
              <li class="border-bottom-dashed" role="presentation"><a class='dropdown-toggle disabled' role="menuitem" href="#">Description Text</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="answer-choice" n class="section answer border-bottom-shadow">
      <div class="global-padding">
        <header>
          <h4 class="headerlabel font-semibold color-gray">Answer Choices
            <span class="dropdown font-medium ml-md">
                    <a href="#" class="dropdown-toggle color-lightgray text-underline font-normal" data-toggle="dropdown" aria-expanded="false">
                        Single Correct Answer
                        <b class="caret">
                        </b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                          <a href="#">
                              Single Correct Answer
                          </a>
                        </li>
                        <li>
                          <a href="#">
                              Multiple Correct Answer
                          </a>
                        </li>
                      </ul>
               </span>
          </h4>
        </header>
        <div>
          <div class="row" rv-each-interact="content.interactions">
            <!-- Loop over all questiondata inside interaction -->
            <div class="col-sm-12">
              <div class="row questions-editor" id="mcq-mr" rv-if="interact.MCQMR">
                <ul class="list-unstyled nested-list editor sortable">
                  <!-- Loop over all options inside interaction  (mcq Array)-->
                  <li class="col-xs-12 colborder" rv-each-element="interact.MCQMR" rv-class-highlight="element.customAttribs.isCorrect" rv-elementIndex="element.customAttribs.index"
                    rv-interactIndex="%interact%">
                    <label class="checkbox">
                  <span class="invisible wrong pull-left"></span>
                  <input type="checkbox" name="optionsRadios" class="option mcq-option" rv-key="element.customAttribs.key" rv-checked="element.customAttribs.isCorrect"></input>
                  <i></i>
                  <input class="option-value input-option" rv-show="element.customAttribs.isEdited" rv-value="element.customAttribs.value" rv-on-blur="removeEditing | args element"></input>
                  <div class="option-value border-bottom-dashed" rv-hide="element.customAttribs.isEdited"  rv-on-click="editOptionText | args element">
                      <span><i class="fa fa-pencil"></i></span>
                      <span rv-text="element.customAttribs.value"></span>
                  </div>
                  <span>
                    <a class="btn btn-danger editor-icon delete-icon mcq-edit fa fa-trash-o pull-right" data-toggle="tooltip" title="Click to remove this option" rv-on-click="removeItem | args element %interact%"></a>
                    <a class="btn btn-default editor-icon drag-icon mcq-edit fa fa-bars pull-right" data-toggle="tooltip" title="Click & drag move this option"></a>
                  </span>
              </label>
                    <div class="modal fade" rv-id="element.customAttribs.key | modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Add Inline Feedback</h4>
                          </div>
                          <div class="modal-body">
                            <div class="input-group vspacer">
                              <span class="input-group-addon" id="basic-addon3">Feedback</span>
                              <input type="text" class="form-control" rv-id="element.customAttribs.key" rv-value="element.customAttribs.feedback" rv-placeholder="element.customAttribs.value | placeholderText"
                                rv-on-blur="setInlineFeedback | args element">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="row questions-editor" id="mcq-sr" rv-if="interact.MCQSR">
                <ul class="list-unstyled nested-list editor sortable">
                  <!-- Loop over all options inside interaction  (mcq Array)-->
                  <li class="col-xs-12 col-sm-12 bg-white" rv-each-element="interact.MCQSR" rv-class-highlight="element.customAttribs.isCorrect"
                    rv-elementIndex="element.customAttribs.index" rv-interactIndex="%interact%">
                    <label class="radio optionlabel"> 
                      <input type="radio" name="optionsRadios" class="option mcq-option" rv-key="element.customAttribs.key" rv-checked="element.customAttribs.isCorrect"></input><i class="choices"></i>
                      <span class="icon-pencil-class"><i class="fa fa-pencil"></i></span>    
                      <input class="option-value input-option color-lightgray" rv-show="element.customAttribs.isEdited" rv-value="element.customAttribs.value" rv-on-blur="removeEditing | args element"></input>                      
                      <div class="option-value border-bottom-dashed color-lightgray" rv-text="element.customAttribs.value" rv-hide="element.customAttribs.isEdited"  rv-on-click="editOptionText | args element"></div>
                <span class="icon-pos-class">
                  <a class="btn color-lightgray editor-icon delete-icon mcq-edit fa fa-times" data-toggle="tooltip" title="Click to remove this option" rv-on-click="removeItem | args element %interact%"></a>                
                  <a class="btn color-lightgray editor-icon drag-icon mcq-edit fa fa-bars" data-toggle="tooltip" title="Click & drag move this option"></a>
                </span>
            </label>
                    <div class="modal fade" rv-id="element.customAttribs.key | modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Add Inline Feedback</h4>
                          </div>
                          <div class="modal-body">
                            <div class="input-group vspacer">
                              <span class="input-group-addon" id="basic-addon3">Feedback</span>
                              <input type="text" class="form-control" rv-id="element.customAttribs.key" rv-value="element.customAttribs.feedback" rv-placeholder="element.customAttribs.value | placeholderText"
                                rv-on-blur="setInlineFeedback | args element">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <a class="add-item ml-xxl" rv-on-click="addItem | args content %interact%">
                    <button type="button" class="btn btn-default btn-sm mt-sm mb-sm"></span>+ Add</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="feedback" class="section feedback  border-bottom-shadow">
      <div class="global-padding">
        <div class="row mt-sm mb-sm">
          <div class="col-sm-12">
            <a class="enable-feedback">
              <button type="button" class="btn btn-default active-btn"><h4 class="font-semibold color-gray">Enable Feedback</h4></button>
            </a>
          </div>
        </div>
        <div rv-hide="true" class="row">
          <div class="col-sm-12">
            <header>
              <h4 class="feedbacklabel">Feedback<span class="ml-md"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></h4>
            </header>
          </div>
          <div class="col-sm-12 mt-sm">
            <ul rv-show="isFeedbackGlobal" class="list-unstyled nested-list editor">
              <li class="col-xs-12 colborder mt-sm" rv-instructionIndex="%feedbackitem%">
                <div class="line-formatter">
                  <span class="feedback-icon"><i class="correct"></i></span>
                  <span class="icon-pencil-class"><i class="fa fa-pencil"></i></span>
                  <input role="button" class="option-value global-input outline-none noborder border-bottom-blue " rv-show="instruction.customAttribs.isEdited"
                    rv-value="feedback.correct" placeholder="Add Instructions" rv-on-blur="removeEditing | args instruction"></input>
                  <div class="option-value border-bottom-dashed" role="button">
                    <span rv-text="feedback.correct"></span>
                  </div>
                  <span class="icon-pos-class icon-pos-instruction-class">
                          <a class="btn color-lightgray editor-icon delete-icon mcq-edit fa fa-times pull-right" data-toggle="tooltip" title="Click to remove this option" rv-on-click="removeInstruction | args instruction %instruction%"></a>            
                      </span>
                </div>
              </li>
              <li class="col-xs-12 colborder mt-sm" rv-instructionIndex="%feedbackitem%">
                <div class="line-formatter">
                  <span class="feedback-icon"><i class="incorrect"></i></span>
                  <span class="icon-pencil-class"><i class="fa fa-pencil"></i></span>
                  <input role="button" class="option-value global-input outline-none noborder border-bottom-blue " rv-show="instruction.customAttribs.isEdited"
                    rv-value="feedback.incorrect" placeholder="Add Instructions" rv-on-blur="removeEditing | args instruction"></input>
                  <div class="option-value border-bottom-dashed" role="button">
                    <span rv-text="feedback.incorrect"></span>
                  </div>
                  <span class="icon-pos-class icon-pos-instruction-class">
                          <a class="btn color-lightgray editor-icon delete-icon mcq-edit fa fa-times pull-right" data-toggle="tooltip" title="Click to remove this option" rv-on-click="removeInstruction | args instruction %instruction%"></a>            
                      </span>
                </div>
              </li>
            </ul>
            <ul rv-show="isFeedbackInteraction" class="list-unstyled nested-list editor">
              <li class="col-xs-12 colborder mt-sm" rv-each-feedbackitem="content.feedback" rv-instructionIndex="%feedbackitem%">
                <div class="line-formatter">
                  <span class="icon-pencil-class icon-pencil-instruction-class"><i class="fa fa-pencil"></i></span>
                  <input role="button" class="option-value global-input outline-none noborder border-bottom-blue " rv-show="instruction.customAttribs.isEdited"
                    rv-value="instruction.text" placeholder="Add Instructions" rv-on-blur="removeEditing | args instruction"></input>
                  <div class="option-value border-bottom-dashed" role="button" rv-hide="instruction.customAttribs.isEdited" rv-on-click="editOptionText | args instruction">
                    <span rv-text="instruction.text"></span>
                  </div>
                  <span class="icon-pos-class icon-pos-instruction-class">
                        <a class="btn color-lightgray editor-icon delete-icon mcq-edit fa fa-times pull-right" data-toggle="tooltip" title="Click to remove this option" rv-on-click="removeInstruction | args instruction %instruction%"></a>            
                    </span>
                </div>
          </div>
          </li>
          </ul>
        </div>
      </div>
</div>
</section>
<section id="media" class="section border-bottom-shadow">
  <div class="global-padding mt-sm mb-sm">
    <a class="enable-media">
            <button type="button" class="btn btn-default active-btn"><h4 class="color-gray font-semibold">Enable Media</h4></button>
        </a>
  </div>
</section>
</main>
</div>