<!-- Engine Renderer Template -->
<!-- Top level div handler to embed test engine into rendering app -->
<div class="mcq-body" id="mcq-engine">
  <main class="main">
    <section class="instructions" rv-each-instruction="content.instructions">
      <p class="instruction" rv-text="instruction"></p>
    </section>
    <section class="stimuli">
      <figure class="stimuli" rv-each-stimuli="content.stimuli"></figure>
    </section>
    <section class="interactions mt-md">
      <section class="interaction" rv-id="interaction.id" rv-each-interaction="content.interactions">
        <p class="question-text" rv-text="interaction.questiontext"></p>
        <!-- prompt Will be shown only if prompt text is available for interaction /-->
        <p class="prompt"></p>
        <ul class="options list-unstyled nested-list" id="mcq-mr" rv-if="interaction.MCQMR">
          <li class="option" rv-each-optionitem="interaction.options | propertyList">
            <label class="checkbox input-label" rv-for="%optionitem%   | idcreator 'option'" >
                  <span class="rejoinder invisible pull-left" rv-id="%optionitem% | idcreator 'rejoinder'"></span><i></i>
                  <input class="option option-value mcq-option option-input" rv-id="%optionitem%   | idcreator 'option'" type="checkbox" 
                          rv-name="optionitem.key" rv-id="optionitem.key" data-val="{optionitem.key}"autocomplete="off" />
                  <span class='option-content' rv-text="optionitem.value">{optionitem.value}</span>
                  <div></div>                    
             </label>
          </li>
        </ul>
        <ul class="list-unstyled nested-list"  id="mcq-sr" rv-if="interaction.MCQSR">
          <li rv-each-element="interaction.options | propertyList">
            <label class="radio radio-lg" rv-for="element.key" >
             <span>
                <i></i>
                <span class="answer invisible wrong pull-left"></span>
                <input type="radio" name="optionsRadios" class="mcqsroption" rv-id="element.key" rv-value="element.value">
             </span>
              <span class="content option-content" rv-text="element.value"></span>
             
            </label>
          </li>
        </ul>
      </section>
    </section>

    <section class="feedback">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="alert alert-success align-2-item" role="alert" rv-show="showFeedback.correct" ><span><i class="fa fa-2x fa-smile-o"></i>&nbsp;</span><span rv-text="feedback.global.correct"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="alert alert-danger align-2-item" role="alert" rv-show="showFeedback.incorrect"><span><i class="fa fa-2x fa-meh-o"></i></span>&nbsp;<span rv-text="feedback.global.incorrect"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="alert alert-warning align-2-item" role="alert" rv-show="showFeedback.empty" ><span><i class="fa fa-2x fa-meh-o"></i>&nbsp;</span><span rv-text="feedback.global.empty"></span>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>