/*******************************************************
 * 
 * ----------------------
 * Engine Renderer Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * CSS which is necessary for a default rendering of an
 * MCQSC activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid MCQSC layout HTML and/or dynamically
 * created by the MCQSC engine JS)
 *
 *
 *******************************************************/

main-dark {
    margin: 20px 20px 20px 20px;
    font-size: 1.3em;
}

.mcq-body-dark {
    background-color: #222222;
}

.instructionsDark {
    color: #FFFFFF;
    font-style: italic;
}

.mt-md {
    margin-top: 20px;
}

ul {
    list-style: none;
    /* margin-left: 30px;*/
}

.option-content-dark {
    color: #eae9e9;
    font-weight: 100;
    margin: 0 0 0 10px;
}

.question-text-dark {
    color: #FFFFFF;
    padding-bottom: 10px;
    font-weight: 500;
}

.main-dark li:hover {
    background: #eeede9;
}


/* Specific to the MCQ - SR type only*/

#mcq-sr-dark {
    position: relative;
}

#mcq-sr-dark li {
    background-color: #363636;
    padding-left: 10px;
    position: static;
    border: 1px solid #494949;
    margin-top: 15px;
}

.main-dark #mcq-sr-dark li:hover {
    background: #437bb3;
    cursor: pointer;
}

#mcq-sr-dark li.highlight {
    background-color: black;
    border-radius: 6px;
    border-bottom: 1px solid #494949;
    color: #1d1d1d;
}

#mcq-sr-dark li i {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    display: block;
    outline: 0;
    border: 1px solid #5c5c5c;
    background: #363636;
    padding: 10px;
    position: relative;
}

#mcq-sr-dark li i:after {
    background-color: #44bafe;
    content: '';
    border-radius: 50%;
    height: 1.7em;
    width: 1.7em;
    top: .41em;
    left: .40em;
    position: absolute;
    opacity: 0;
    border: 1px solid #44bafe;
}

#mcq-sr-dark li.highlight i {
    border: 1px solid #44bafe;
}

#mcq-sr-dark li.highlight i:after {
    opacity: 1;
}

#mcq-sr-dark li.highlight:after span {
    color: #eae9e9;
}

#mcq-sr-dark li .radio {
    font-size: 1em;
    color: #eae9e9;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
}

#mcq-sr-dark li .radio input {
    position: absolute;
    left: -9999px;
}

#mcq-sr-dark li .radio .option-value {
    position: static!important;
}

#mcq-sr-dark li .radio .option-value .input-option {
    width: 80%;
}

#mcq-sr-dark li .radio div.option-value {
    display: inline-block;
}

#mcq-sr-dark li .radio .correct-answer {
    font-weight: 700;
}

#mcq-sr-dark ul li .optionlabel {
    width: 100%;
}
/*
#mcq-sr-dark li.wrong i {
    border-color: red;
}
*/
#mcq-sr-dark li.wrong i:after {
    opacity: 0.7;    
    content: "\f00d";
    color: #FF3B3B;
    font-family: fontawesome;
    font-size: 1.5em;
    position: absolute;
    left: 0.46em;
    top: 0.10em;
    font-weight: 400;
    font-style: normal;
    height: 1em;
    width: 1em;
    border: none;
    background: #363636;
}
/*
#mcq-sr-dark li.correct i {
    border-color: green;
}
*/

#mcq-sr-dark li.correct i:after {
    opacity: 0.7;
    content: "\f00c";
    color: #40fd21;   
    font-family: fontawesome;
    font-size: 1.4em;
    position: absolute;
    left: 0.41em;
    top: 0.20em;
    font-weight: 400;
    font-style: normal;
    height: 1.2em;
    width: 1.2em;
    border: none;
    background: #363636;
}


/* Specific to MCQ MR type*/

#mcq-mr-dark {
    padding-bottom: 10px;
    position: relative;
    padding-left: 0px;
}

#mcq-mr-dark li {
    min-height: 2.8em;
    background-color: #363636;
    padding-left: 10px;
    position: static;
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    margin-top: 15px;
}

#mcq-mr-dark li:hover {
    background: #437bb3;
    cursor: pointer;
}

#mcq-mr-dark li.highlight {
    background-color: black;
    border-radius: 6px;
    border-bottom: 1px solid #494949;
    color: #1d1d1d;
}

#mcq-mr-dark li i {
    height: 2.6em;
    width: 2.6em;
    border-radius: 0;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #5c5c5c;
    background: #363636;
}

#mcq-mr-dark li i:after {
    background-color: #44bafe;
    content: '';
    border-radius: 0;
    height: 1.6em;
    width: 1.6em;
    top: .45em;
    left: .45em;
    position: absolute;
    opacity: 0;
    border: 1px solid #44bafe;
}

#mcq-mr-dark li.highlight i {
    border: 1px solid #44bafe;
}

#mcq-mr-dark li.highlight i:after {
    opacity: 1;
}

/*
#mcq-mr-dark li.wrong i {
    border: none;
}
*/


#mcq-mr-dark li.wrong i:after {
    opacity: 0.7;
    content: "\f00d";
    background: #363636;
    color: #FF3B3B;
    font-family: fontawesome;
    font-size: 1.8em;
    position: absolute;
    left: 0.31em;
    top: 0.11em;
    font-weight: 400;
    font-style: normal;
    height: 1em;
    width: 1em;
    border: none;
    
}

/*
#mcq-mr-dark li.correct i {
    border: none;
}
*/

#mcq-mr-dark li.correct i:after {
    opacity: 0.7;
    background: #363636;
    content: "\f00c";
    color: #40fd21;
    font-family: fontawesome;
    font-size: 1.8em;
    position: absolute;
    left: 0.21em;
    top: 0.11em;
    font-weight: 400;
    font-style: normal;
    height: 1em;
    width: 1em;
    border: none;
}

#mcq-mr-dark li .checkbox {
    font-size: 1em;
    line-height: 2em;
    color: #6e6c6c;
    cursor: pointer;
}

#mcq-mr-dark li .checkbox input {
    position: absolute;
    left: -999px;
}

.main-dark .feedback .alert-success {
   background-color: #363636;
   color: #40fd21; 
   border: 1px solid #494949;
}

.main-dark .feedback .alert-danger {
 background-color: #363636;
 color: #ff3b3b;
 border: 1px solid #494949;
}

.align-2-item {
    display: flex;
    align-items: center;
}

.disable-li-hover {
    cursor: default;
}

.main-dark .disable-li-hover:hover {
    background-color: #363636 !important;
    cursor: default !important;
}


/*  --- Ends ---  */