/*******************************************************
 * 
 * ----------------------
 * Engine Editor Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * CSS which is necessary for a default rendering of an
 * MCQSC activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid MCQSC layout HTML and/or dynamically
 * created by the MCQSC engine JS)
 *
 *
 *******************************************************/
 .global {
    font-size: 1.125em;
    font-family: "Open Sans";
    color: #5a5a5a;
 }
 .color-gray {
    color: #5a5a5a;
 }
 .color-lightslategray {
    color: #d5d5d5;
 }
 
 .color-lightgray {
    color: #9D9D9D;
 }
 .bg-white {
    background-color: #FFF; 
 }

  
 .global-border {
    border: 1px solid  lightslategray;
}
.font-semibold {
    font-weight: 600;
}
.outline-none {
    outline: none;
}
.noborder {
  border: none;   
}
.global-input {
    width: 100%;    
}
.global-padding {
    padding: 10px;
}

.mt-sm {
  margin-top: 15px;
}

.ml-md {
  margin-left: 20px;
}
.ml-xxl {
   margin-left: 60px; 
}
.ml-sm {
    margin-left: 15px;
}
.mb-sm {
    margin-bottom: 15px;
}
.border-bottom-dashed  {
    border-bottom: 1px dashed #d5d5d5;
}

.border-bottom-blue  {
    border-bottom: 1px solid #162375;
}

.border-top  {
    border-top: 1px solid #d5d5d5
}

.border-left  {
    border-left: 1px solid #d5d5d5
}

.border-right  {
    border-right: 1px solid #d5d5d5
}

.border-bottom  {
    border-bottom: 1px solid #d5d5d5
}

.border-bottom-shadow {
    border-bottom: 1px solid #f3f3f3;
    box-shadow: 0 12px 15px -20px #333;
}

.fa-pencil:before {
 color: lightslategray;
 }

 .font-medium {
    font-size: 14px;
 }
 .text-underline {
    text-decoration: underline;
 }





/* Global CSS for the entire editor irrespective of the type*/

 .form {
    padding: 15px 0 15px 3px;
}



 .form-container {
    width: 100%;
}

 .modal {
    position: absolute;
    left: 50%;
    /* now you must set a margin left under zero - value is a half width your window */
    margin-left: -312px;
    /* this same situation is with height - example */
    top: 55%;
    margin-top: -250px;
}


 .input-option {
    width: 85%;
    border: none;
    border-bottom: 1px solid #162375;;
    outline: none;
}

 .correct {
    color: green;
}

 .incorrect {
    color: red;
}



.info {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.popmsg {
    font-size: 12px;
    padding: 2px 2px 2px 2px;
}

.popcol {
    padding: 1px 1px 1px 1px;
    border-top: 2px;
    border-top-color: red;
}


.popover-title .close {
    position: relative;
    bottom: 3px;
}


.dropzone {
    background-color: #F2F2F2;
    height: 215px;
    padding-top: 60px;
    margin-bottom: 10px;
    border: dotted;
    text-align: center;
    vertical-align: middle;
    border: 2px dashed;
    border-radius: 5px;
}

.vspacer {
    margin-top: 5px;
    margin-bottom: 5px;
}



.comment {
    color: navy
}


#mcq-sr li {    
    position: static;
    margin-top: 15px;    
}


/* Specific to MCQ MR type*/

#mcq-mr ul {
    padding-bottom: 10px;
    position: relative;
}

/*#mcq-mr ul li {
    padding: 10px;
    position: static;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}
*/
#mcq-mr ul li.highlight {
    background-color: #F2F2F2;
    border-radius: 0px;
    border-bottom: 1px solid #DDDDDD;
}

#mcq-mr ul li i {
    height: 1.8em;
    width: 1.8em;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #BDBDBD;
    background: #FFF;
}

#mcq-mr ul li i:after {
    background-color: #666666;
    content: '';
    border-radius: 0;
    height: 1.1em;
    width: 1.1em;
    top: .3em;
    left: .3em;
    position: absolute;
    opacity: 0;
}

#mcq-mr ul li.highlight i {
    border-color: #F2F2F2;
}

#mcq-mr ul li.highlight i:after {
    opacity: 1;
}

#mcq-mr ul li .checkbox {
    font-size: 1em;
    line-height: 1.8em;
    color: #3D3D3D;
    cursor: pointer;
    padding-left: 45px!important;
}

#mcq-mr ul li .checkbox input {
    /*position: absolute;*/
    left: 0px;
}

#mcq-mr ul li .checkbox .option-value {
    position: static!important;
    left: -9999;
}

#mcq-mr ul li .checkbox div.option-value {
    display: inline-block;
    font-weight: normal;
}

#mcq-mr ul li .checkbox .correct-answer {
    font-weight: 700;
}

#mcq-mr ul li .editor-icon {
    cursor: pointer;
}

#mcq-mr ul li .editor-icon.mcq-edit {
    margin: 2px;
}

#mcq-mr ul li .delete-icon.mcq-edit {
    right: 20px;
}

#mcq-mr ul li .drag-icon.mcq-edit {
    right: 0px;
}


/* Specific to the MCQ - SR type only*/

#mcq-sr ul li i.choices {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #BDBDBD;
    background: #FFF;
    padding: 10px;
}

#mcq-sr ul li i.choices:after {
   /* background-color: #FFF;
    content: "\f00c";
    color: green;
    border-radius: 50%;
    height: 1.1em;
    width: 1.1em;
    top: .29em;
    left: .29em;
    position: absolute;
    opacity: 0;
    */
    opacity: 0;
    background-color: #FFF;
    content: "\f00c";
    color: green;
    font-family: fontawesome;
    font-size: 1.7em;
    position: relative;
    left: -4px;
    top: -4px;
    font-weight: 400;
    font-style: normal;
}

#mcq-sr ul li.highlight i.choices {
    border-color: green;
}

#mcq-sr ul li.highlight i.choices:after {
    opacity: 0.7;
}

#mcq-sr ul li .radio {
    font-size: 1em;
    line-height: 1.8em;
    color: #3D3D3D;
    cursor: pointer;
    display: inline-block;
    padding-left: 45px!important;
}

#mcq-sr ul li .radio input {
    position: absolute;
    left: -9999px;
}

#mcq-sr ul li .radio .option-value {
    position: static!important;
}

#mcq-sr ul li .radio .option-value .input-option {
    width: 85%;
}

#mcq-sr ul li .radio div.option-value {
    width: 85%;
    display: inline-block;
}

#mcq-sr ul li .radio .correct-answer {
    font-weight: 700;
}

#mcq-sr ul li .editor-icon-container {
    display: inline-block;
    position: relative;
    padding-top: 5px;
}

#mcq-sr ul li .editor-icon-container .editor-icon {
    cursor: pointer;
}

#mcq-sr ul li .editor-icon-container .editor-icon.mcqsr-edit {
    position: absolute;
    right: 60px;
}

#mcq-sr ul li .editor-icon-container .delete-icon.mcqsr-edit {
    right: 40px;
}

#mcq-sr ul li .editor-icon-container .drag-icon.mcqsr-edit {
    right: 20px;
}

#mcq-sr ul li .optionlabel {
    width: 100%;
}

.icon-pos-class {
    position: absolute;
    right: 10%;
}

.icon-pencil-class {
    position: absolute;
    left: 50px;
    bottom: 0px;
}
.icon-pencil-instruction-class {
    bottom: 5px;
    left: 0px;
}

.option-value {
    padding-left: 25px;
    font-weight: normal;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.textEditable[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
} 

.textEditable[contentEditable=true]:not(:focus){
    border-bottom: 1px dashed #d5d5d5;     
} 

.textEditable[contentEditable=true]:focus{
    outline:none;
    border: none;
    border-bottom: 1px solid #162375;;
    outline: none;
}

.line-formatter {
    line-height: 1.8em;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.icon-pos-instruction-class{
    bottom: 4px;
    right: 5px;
}

 i.correct {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #BDBDBD;
    background: #FFF;
    padding: 10px;
}

 i.correct:after {
    opacity: 0.7;
    background-color: #FFF;
    content: "\f087";
    color: green;
    font-family: fontawesome;
    font-size: 1.7em;
    position: relative;
    left: -4px;
    top: -4px;
    font-weight: 400;
    font-style: normal;
}

i.correct {
    border-color: green;
}

highlight i.correct:after {
    opacity: 1;
}


i.incorrect {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #BDBDBD;
    background: #FFF;
    padding: 10px;
}

i.incorrect:after {
    opacity: 0.7;
    background-color: #FFF;
    content: "\f087";
    color: red;
    font-family: fontawesome;
    font-size: 1.7em;
    position: relative;
    left: -4px;
    top: -4px;
    font-weight: 400;
    font-style: normal;
}

i.incorrect {
    border-color: red;
}

i.incorrect:after {
    opacity: 1;
}

.bottom {
    bottom: 12px;
}


.text-box {
    position: relative;
}
