/*******************************************************
 * 
 * ----------------------
 * Engine Renderer Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * CSS which is necessary for a default rendering of an
 * MCQSC activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid MCQSC layout HTML and/or dynamically
 * created by the MCQSC engine JS)
 *
 *
 *******************************************************/

main-light {
    margin: 20px 20px 20px 20px;
    font-size: 1.3em;
}

.mcq-body-light {
    background-color: #f6f6f6;
}

.instructions-light {
    color: #535353;
    font-style: italic;
}

.mt-md {
    margin-top: 20px;
}

ul {
    list-style: none;
    /* margin-left: 30px;*/
}

.option-content-light {
    color: #3b3b3b;
    font-weight: 400;
    margin: 0 0 0 10px;
}

.question-text-light {
    color: #535353;
    padding-bottom: 10px;
    font-weight: 300;
}

.main-light li:hover {
    background: #fdf9e6;
}


/* Specific to the MCQ - SR type only*/

#mcq-sr-light {
    position: relative;
}

#mcq-sr-light li {
    background-color: #FFFFFF;
    padding-left: 10px;
    position: static;
    border: 1px solid #DBDBDB;
    margin-top: 15px;
}

#mcq-sr-light li:hover {
    background: rgb(228, 228, 231);
    cursor: pointer;
}

#mcq-sr-light li.highlight {
    background-color: #F2FEF4;
    border-radius: 6px;
    border-bottom: 1px solid #DBDBDB;
}

#mcq-sr-light li i {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    display: block;
    outline: 0;
    border: 1px solid #DBDBDB;
    background: #FFFFFF;
    padding: 10px;
    position: relative;
}

#mcq-sr-light li i:after {
    background-color: #44BAFE;
    content: '';
    border-radius: 50%;
    height: 1.7em;
    width: 1.7em;
    top: .41em;
    left: .40em;
    position: absolute;
    opacity: 0;
}

#mcq-sr-light li.highlight i {
    border-color: #2E9940;
}

#mcq-sr-light li.highlight i:after {
    opacity: 1;
}

#mcq-sr-light li .radio {
    font-size: 1em;
    color: #FFFFFF;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
}

#mcq-sr-light li .radio input {
    position: absolute;
    left: -9999px;
}

#mcq-sr-light li .radio .option-value {
    position: static!important;
}

#mcq-sr-light li .radio .option-value .input-option {
    width: 80%;
}

#mcq-sr-light li .radio div.option-value {
    display: inline-block;
}

#mcq-sr-light li .radio .correct-answer {
    font-weight: 700;
}

#mcq-sr-light ul li .optionlabel {
    width: 100%;
}

#mcq-sr-light li.wrong i {
    border-color: #e30e0e;
}

#mcq-sr-light li.wrong i:after {
    opacity: 0.7;
    background-color: #FFF;
    content: "\f00d";
    color: #e30e0e;
    font-family: fontawesome;
    font-size: 1.5em;
    position: absolute;
    left: 0.46em;
    top: 0.10em;
    font-weight: 400;
    font-style: normal;
    height: 1em;
    width: 1em;
}

#mcq-sr-light li.correct i {
    border-color: #188d2c;
}

#mcq-sr-light li.correct i:after {
    opacity: 0.7;
    content: "\f00c";
    color: #188d2c;
    background-color: #FFF;
    font-family: fontawesome;
    font-size: 1.4em;
    position: absolute;
    left: 0.41em;
    top: 0.20em;
    font-weight: 400;
    font-style: normal;
    height: 1.2em;
    width: 1.2em;
}


/* Specific to MCQ MR type*/

#mcq-mr-light {
    padding-bottom: 10px;
    position: relative;
    padding-left: 0px;
}

#mcq-mr-light li {
    min-height: 2.8em;
    background-color: #FFFFFF;
    padding-left: 10px;
    position: static;
    border: 1px solid #DBDBDB;
    margin-top: 15px;
}

#mcq-mr-light li:hover {
    background: #fdf9e6;
    cursor: pointer;
}

#mcq-mr-light li.highlight {
    background-color: #F2FEF4;
    border-radius: 6px;
    border-bottom: 1px solid #DBDBDB;
}

#mcq-mr-light li i {
    height: 2.6em;
    width: 2.6em;
    border-radius: 0;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #DBDBDB;
    background: #FFF;
}

#mcq-mr-light li i:after {
    background-color: #44bfae;
    content: '';
    border-radius: 0;
    height: 1.6em;
    width: 1.6em;
    top: .45em;
    left: .45em;
    position: absolute;
    opacity: 0;
}

#mcq-mr-light li.highlight i {
    border-color: #2E9940;
}

#mcq-mr-light li.highlight i:after {
    opacity: 1;
}

#mcq-mr-light li.wrong i {
    border-color: #E30E01;
}

#mcq-mr-light li.wrong i:after {
    opacity: 0.7;
    background-color: #FFF;
    content: "\f00d";
    color: #E30E01;
    font-family: fontawesome;
    font-size: 1.8em;
    position: absolute;
    left: 0.31em;
    top: 0.11em;
    font-weight: 400;
    font-style: normal;
    height: 1em;
    width: 1em;
}

#mcq-mr-light li.correct i {
    border-color: #188D2C;
}

#mcq-mr-light li.correct i:after {
    opacity: 0.7;
    background-color: #FFF;
    content: "\f00c";
    color: #188D2C;
    font-family: fontawesome;
    font-size: 1.8em;
    position: absolute;
    left: 0.21em;
    top: 0.11em;
    font-weight: 400;
    font-style: normal;
    height: 1em;
    width: 1em;
}

#mcq-mr-light li .checkbox {
    font-size: 1em;
    line-height: 2em;
    color: #3B3B3B;
    cursor: pointer;
}

#mcq-mr-light li .checkbox input {
    position: absolute;
    left: -999px;
}

.main-light .feedback .alert-success {
    background-color: #f2fdee;
    border: 1px solid #DBDBDB;
    color: #188D2C;
     
}

.main-light .feedback .alert-danger {
    background-color: #FDEEEE;
    border: 1px solid #FFE0E0;
    color: #E41515;
}

.align-2-item {
    display: flex;
    align-items: center;
}

.disable-li-hover {
    cursor: default;
}

.main-light .disable-li-hover:hover {
    background-color: #FFFFFF !important;
    cursor: default !important;
}


/*  --- Ends ---  */