/*******************************************************
 * 
 * ----------------------
 * Engine Editor Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * CSS which is necessary for a default rendering of an
 * MCQSC activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid MCQSC layout HTML and/or dynamically
 * created by the MCQSC engine JS)
 *
 *
 *******************************************************/

.main {
    font-size: 1em;
}

.section {
    margin: 0 0 30px 0;
    padding: 5px 5px 10px 5px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
}

.sectionlabel {
    font-size: 24px;
    font-weight: bold;
}


/* Global CSS for the entire editor irrespective of the type*/

#mcq-editor .form {
    padding: 15px 0 15px 3px;
}

#mcq-editor .form * {
    margin: 0;
}

#mcq-editor .form-container {
    width: 100%;
}

#mcq-editor .modal {
    position: absolute;
    left: 50%;
    /* now you must set a margin left under zero - value is a half width your window */
    margin-left: -312px;
    /* this same situation is with height - example */
    top: 55%;
    margin-top: -250px;
}

#mcq-editor .add-container {
    padding: 5px 15px 5px 0;
    float: left;
}

#mcq-editor .add-container .add-item {
    cursor: pointer;
}

#mcq-editor .input-option {
    width: 80%;
    border: none;
    border-bottom: 1px black;
}

#mcq-editor .correct {
    color: green;
}

#mcq-editor .incorrect {
    color: red;
}

#mcq-editor .addbutton {
    margin-left: 5px;
    padding: 5px 15px 5px 0px;
}

.info {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.popmsg {
    font-size: 12px;
    padding: 2px 2px 2px 2px;
}

.popcol {
    padding: 1px 1px 1px 1px;
    border-top: 2px;
    border-top-color: red;
}

.txtEntry {
    font-weight: normal;
    font-size: 1em;
}

.popover-title .close {
    position: relative;
    bottom: 3px;
}

.media {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    height: 215px;
}

.dropzone {
    background-color: #F2F2F2;
    height: 215px;
    padding-top: 60px;
    margin-bottom: 10px;
    border: dotted;
    text-align: center;
    vertical-align: middle;
    border: 2px dashed;
    border-radius: 5px;
}

.vspacer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.spacer {
    margin-left: 10px;
    margin-right: 10px;
}

.questionlabel {
    padding: 5px 0 0 5px;
}

.comment {
    color: navy
}

.media_container>i {
    position: relative;
    top: calc(50% - 10px);
    /* 50% - 3/4 of icon height */
}


/* Specific to MCQ MR type*/

#mcq-mr ul {
    padding-bottom: 10px;
    position: relative;
}

#mcq-mr ul li {
    padding: 10px;
    position: static;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

#mcq-mr ul li.highlight {
    background-color: #F2F2F2;
    border-radius: 0px;
    border-bottom: 1px solid #DDDDDD;
}

#mcq-mr ul li i {
    height: 1.8em;
    width: 1.8em;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #BDBDBD;
    background: #FFF;
}

#mcq-mr ul li i:after {
    background-color: #666666;
    content: '';
    border-radius: 0;
    height: 1.1em;
    width: 1.1em;
    top: .3em;
    left: .3em;
    position: absolute;
    opacity: 0;
}

#mcq-mr ul li.highlight i {
    border-color: #F2F2F2;
}

#mcq-mr ul li.highlight i:after {
    opacity: 1;
}

#mcq-mr ul li .checkbox {
    font-size: 1em;
    line-height: 1.8em;
    color: #3D3D3D;
    cursor: pointer;
    padding-left: 45px!important;
}

#mcq-mr ul li .checkbox input {
    /*position: absolute;*/
    left: 0px;
}

#mcq-mr ul li .checkbox .option-value {
    position: static!important;
    left: -9999;
}

#mcq-mr ul li .checkbox div.option-value {
    display: inline-block;
    font-weight: normal;
}

#mcq-mr ul li .checkbox .correct-answer {
    font-weight: 700;
}

#mcq-mr ul li .editor-icon {
    cursor: pointer;
}

#mcq-mr ul li .editor-icon.mcq-edit {
    margin: 2px;
}

#mcq-mr ul li .delete-icon.mcq-edit {
    right: 20px;
}

#mcq-mr ul li .drag-icon.mcq-edit {
    right: 0px;
}


/* Specific to the MCQ - SR type only*/

#mcq-sr ul {
    margin-left: 30px;
    padding-left: 15px;
    padding-bottom: 10px;
    position: relative;
}

#mcq-sr ul li {
    padding: 10px;
    position: static;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

#mcq-sr ul li.highlight {
    background-color: #F2F2F2;
    border-radius: 6px;
    border-bottom: 1px solid #DDDDDD;
}

#mcq-sr ul li i {
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #BDBDBD;
    background: #FFF;
    padding: 10px;
}

#mcq-sr ul li i:after {
    background-color: #3276B1;
    content: '';
    border-radius: 50%;
    height: 1.1em;
    width: 1.1em;
    top: .29em;
    left: .29em;
    position: absolute;
    opacity: 0;
}

#mcq-sr ul li.highlight i {
    border-color: #3276B1;
}

#mcq-sr ul li.highlight i:after {
    opacity: 1;
}

#mcq-sr ul li .radio {
    font-size: 1em;
    line-height: 1.8em;
    color: #3D3D3D;
    cursor: pointer;
    display: inline-block;
    padding-left: 45px!important;
}

#mcq-sr ul li .radio input {
    position: absolute;
    left: -9999px;
}

#mcq-sr ul li .radio .option-value {
    position: static!important;
}

#mcq-sr ul li .radio .option-value .input-option {
    width: 80%;
}

#mcq-sr ul li .radio div.option-value {
    display: inline-block;
}

#mcq-sr ul li .radio .correct-answer {
    font-weight: 700;
}

#mcq-sr ul li .editor-icon-container {
    display: inline-block;
    position: relative;
    padding-top: 5px;
}

#mcq-sr ul li .editor-icon-container .editor-icon {
    cursor: pointer;
}

#mcq-sr ul li .editor-icon-container .editor-icon.mcqsr-edit {
    position: absolute;
    right: 60px;
}

#mcq-sr ul li .editor-icon-container .delete-icon.mcqsr-edit {
    right: 40px;
}

#mcq-sr ul li .editor-icon-container .drag-icon.mcqsr-edit {
    right: 20px;
}

#mcq-sr ul li .optionlabel {
    width: 100%;
}