/*******************************************************
 * 
 * ----------------------
 * Engine Renderer Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * CSS which is necessary for a default rendering of an
 * MCQSC activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid MCQSC layout HTML and/or dynamically
 * created by the MCQSC engine JS)
 *
 *
 *******************************************************/

main {
    margin: 20px 20px 20px 20px;
    font-size: 1em;
}

.instructions {
    font-size: 1.25em;
}

.interactions {
    font-size: 1.15em;
}

ul {
    list-style: none;
    margin-left: 30px;
}

.correct:before,
.wrong:before {
    font-family: fontawesome;
    display: inline-block;
    margin: 0 0.5em auto -2.2em;
}

.correct:before {
    content: "\f00c";
    color: #080;
}

.wrong:before {
    content: "\f00d";
    color: #F00;
}

.option-content {
    margin: 0 0 0 5px;
}