/*******************************************************
 * 
 * ----------------------
 * Engine Renderer Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * CSS which is necessary for a default rendering of an
 * MCQSC activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid MCQSC layout HTML and/or dynamically
 * created by the MCQSC engine JS)
 *
 *
 *******************************************************/

main {
    margin: 20px 20px 20px 20px;
    font-size: 1em;
    font-family: "Open Sans";
}

.instructions {
    font-size: 1.25em;
}

.color-lightgray {
    color: #5a5a5a;
 }

.instruction {
    color: #5a5a5a;
    font-size: 18px;
    font-style: italic;
}

.interactions {
    font-size: 1.15em;
}
.mt-md {
    margin-top: 20px;
}

ul {
    list-style: none;
   /* margin-left: 30px;*/
}


.option-content {    
    font-size: 18px;
    color: #494848;
    font-weight: 500;
}

.question-text {
    color: #414040;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}

li:hover {
    background: #fdf9e6;
}

/* Specific to the MCQ - SR type only*/

#mcq-sr {    
    position: relative;
}

#mcq-sr li {
    background-color: #F7fbff;
    padding-left: 10px;
    position: static;
    border: 1px solid #DDDDDD;
    margin-top: 15px;    
}

#mcq-sr li:hover {
    background: #fdf9e6;
    cursor: pointer;
}

#mcq-sr li.highlight {
    background-color: #F7fbff;
    border-radius: 6px;
    border-bottom: 1px solid #DDDDDD;
}

#mcq-sr li i {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    display: block;
    outline: 0;
    border: 1px solid #BDBDBD;
    background: #FFF;
    padding: 10px;
    position: relative;
}

#mcq-sr li i:after {
    background-color: #3276B1;
    content: '';
    border-radius: 50%;
    height: 1.7em;
    width: 1.7em;
    top: .41em; 
    left: .40em;
    position: absolute;
    opacity: 0;
}

#mcq-sr li.highlight i {
    border-color: #3276B1;
}

#mcq-sr li.highlight i:after {
    opacity: 1;
}



#mcq-sr li .radio {
    font-size: 1em;    
    color: #3D3D3D;
    cursor: pointer;    
    text-align: left;
    display: flex;
    align-items: center;
}

#mcq-sr li .radio input {
    position: absolute;
    left: -9999px;
}

#mcq-sr li .radio .option-value {
    position: static!important;
}

#mcq-sr li .radio .option-value .input-option {
    width: 80%;
}

#mcq-sr li .radio div.option-value {
    display: inline-block;
}

#mcq-sr li .radio .correct-answer {
    font-weight: 700;
}

#mcq-sr ul li .optionlabel {
    width: 100%;
}


#mcq-sr li.wrong i {
    border-color: red;
    
}

#mcq-sr li.wrong i:after {
    opacity: 0.7;
    background-color: #FFF;
    content: "\f00d";
    color: #F00;
    font-family: fontawesome;
    font-size: 25px;
    position: relative;
    left: 0px;
    top: -8px;
    font-weight: 400;
    font-style: normal;
}


#mcq-sr li.correct i {
    border-color: green;
    
}

#mcq-sr li.correct i:after {
    opacity: 0.7;
    background-color: #FFF;
    content: "\f00c";
    color: green;
    font-family: fontawesome;
    font-size: 25px;
    position: relative;
    left: -2px;
    top: -8px;
    font-weight: 400;
    font-style: normal;
}

#mcq-sr .option-content {    
    margin: 0 0 0 10px;
}





/* Specific to MCQ MR type*/

#mcq-mr {
    padding-bottom: 10px;
    position: relative;
    padding-left: 0px;
}

#mcq-mr li {
    min-height: 2.8em;
    background-color: #F7fbff;
    padding-left: 10px;
    position: static;
    border: 1px solid #DDDDDD;
    margin-top: 15px;
     
    
}

#mcq-mr li:hover {
    background: #d9e6ed;
    cursor: pointer;
}

#mcq-mr li.highlight {
    background-color: #F7fbff;
    border-radius: 6px;
    border-bottom: 1px solid #DDDDDD;
}

#mcq-mr li i {
    height: 2.6em;
    width: 2.6em;
    border-radius: 0;
    position: absolute;
    top: 0; 
    left: 0;
    display: block;
    outline: 0;
    border: 1px solid #BDBDBD;
    background: #FFF;
}

#mcq-mr li i:after {
    background-color: #3276B1;
    content: '';
    border-radius: 0;
    height: 1.6em;
    width: 1.6em;
    top: .45em;
    left: .45em;
    position: absolute;
    opacity: 0;
}

#mcq-mr li.highlight i {
    border-color: #3276B1;
}

#mcq-mr li.highlight i:after {
    opacity: 1;
}

#mcq-mr li.wrong i {
    border-color: red;
}

#mcq-mr li.wrong i:after {
    opacity: 1.0;
    background-color: #FFF;
    content: "\f00d";
    color: red;
    font-family: fontawesome;
    font-size: 1.8em;
    position: relative;
    left: 8px;
    top: -2px;
    font-weight: 400;
    font-style: normal;
}

#mcq-mr li.correct i {
    border-color: green;
}

#mcq-mr li.correct i:after {
    opacity: 1.0;
    background-color: #FFF;
    content: "\f00c";
    color: green;
    font-family: fontawesome;
    font-size: 1.8em;
    position: relative;
    left: 6px;
    top: -2px;
    font-weight: 400;
    font-style: normal;
}

#mcq-mr li .checkbox {
    font-size: 1em;
    line-height: 2.7em;
    color: #3D3D3D;
    cursor: pointer;
    padding-left: 50px!important;
}

#mcq-mr li .checkbox input {
    position: absolute; 
    left: -999px;
}

.feedback .alert-sucess {
    background-color: #f2fdee;
}

.feedback .alert-danger {
    background-color: #fdeeee;
}

.align-2-item {    
    display: flex;
    align-items: center;
}

/*  --- Ends ---  */