/*******************************************************
 * 
 * ----------------------
 * Engine Renderer Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * CSS which is necessary for a default rendering of an
 * MCQSC activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid MCQSC layout HTML and/or dynamically
 * created by the MCQSC engine JS)
 *
 *
 *******************************************************/

.mcqmr-body .mcqmr-main  {
    margin: 20px 20px 20px 20px;
}

.mcqmr-body .instruction {
	font-family: Georgia, serif;
	font-size: 20px;
}

.mcqmr-body .interactions {
	font-family: Georgia, serif;
}

.mcqmr-body .question-text {
	font-size: 18px;
} 

.mcqmr-body ul {
 list-style: none;
}

.mcqmr-body .option {
	font-size: 16px;
}

.mcqmr-body span.correct:before {
    content: "\f00c";
    font-family: fontawesome;
    color: green;
    display: inline-block;
    margin: 0 3.5em auto -3.2em;
}

.mcqmr-body span.wrong:before {
    content: "\f00d";
    font-family: fontawesome;
    color: red;
    display: inline-block;
    margin: 0 3.6em auto -3.2em;
}


.mcqmr-body .rejoinder{
    margin-left: 20px;
}

.mcqmr-body span.correct, .mcqmr-body span.wrong{
    margin-left: 0;
}
